:root{
  --primary : #0b1826;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.side_navigation ul *{
  color: var(--primary) !important;
  text-decoration: none !important;
}

.side_navigation a.active li{
  background-color: #fdecf2;
}

.app-main-body{
  background-color: #eee;
  width: 100%;
  height: 100vh;
  padding: 20px;
}